<!doctype html>
<html>
  <head>
    <title>Register for <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Register for <%=shopName%></h1>
    <form method="POST" action="/bookadded">
        <p>Book name: <input id="name" type="text" name="name" value="name" /></p>
        <p>Book price: <input id="price" type="text" name="price" value="price" /></p>
        <input type="submit" value="Add" />
      </form>
  </body>
</html>