<!doctype html>
<html>
  <head>
    <title>Bargain books</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Bargain books</h1>
    <h2>Here you can bargain books for less than 20£!</h2>
    <p><%=availableBooks[2].name%>, <%=availableBooks[2].price%></p>
  </body>
</html>